<h2 class="page-header">edit book</h2>
<form action= "/books/<%= book.id %>?_method=PUT" method="POST">
    <a href="/books/<%= book.id %> ">Cancel</a>
    <button type="submit">Update</button>
<%- include('_form_fields')  %> 

</form>