<h2 class="page-header">new book</h2>
<form action= "/books" method="POST" >

<%- include('_form_fields')  %> 
<a href="/books">Cancel</a>
<div>
<button type="submit">Create new</button>
</div>
</form>